<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User form</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
    <form method="POST" th:action="@{/createUser}" th:object="${user}">
        <h1>Create User</h1>
        <div th:if="${#fields.hasErrors()}">
          <span class="validationError">
             Please correct the problems below and resubmit.
          </span>
        </div>
        <label for="name">Name:</label>
        <input type="text" th:field="*{name}" id="name"/>

        <span class="validationError"
              th:if="${#fields.hasErrors('name')}"
              th:errors="*{name}">Name Error
        </span>
        <br/>

        <label for="age">Age:</label>
        <input type="number" th:field="*{age}" id="age"/>

        <span class="validationError"
              th:if="${#fields.hasErrors('age')}"
              th:errors="*{age}">Age Error
        </span>
        <br/>
        <label for="postalCode">Postal Code:</label>
        <input type="text" th:field="*{postalCode}" id="postalCode"/>

        <span class="validationError"
              th:if="${#fields.hasErrors('postalCode')}"
              th:errors="*{postalCode}">Postal Code Error
        </span>
        <br/>
        <label for="userType">User Type:</label>
        <select id="userType" name="userType" th:field="*{userType}">
            <option th:each="type : ${T(com.example.validForm.UserType).values()}" th:value="${type}" th:text="${type}">User Type</option>
        </select>
        <span class="validationError"
              th:if="${#fields.hasErrors('userType')}"
              th:errors="*{userType}">User Type Error
        </span>
        <br/>

        <label for="conditionsAccepted">Do you accept the terms?</label>
        <input type="checkbox" th:field="*{conditionsAccepted}" id="conditionsAccepted"/>

        <span class="validationError"
              th:if="${#fields.hasErrors('conditionsAccepted')}"
              th:errors="*{conditionsAccepted}">Conditions Accepted Error
        </span>
        <br/>
        <input type="submit" value="Submit"/>
    </form>
    <h2>Registered Users</h2>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Postal Code</th>
            <th>User Type</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="registeredUser : ${registeredUsers}">
            <td th:text="${registeredUser.name}"></td>
            <td th:text="${registeredUser.age}"></td>
            <td th:text="${registeredUser.postalCode}"></td>
            <td th:text="${registeredUser.userType}"></td>
        </tr>
        </tbody>
    </table>

</body>
</html>


